Repository oscharko-dev/kei-agent-py-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkdocs-validate, ruff-check-all, validate-imports, check-todos, validate-pyproject

Path conditions:
  mkdocs-validate: any of: ^(mkdocs\.yml|docs/.*)$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$

  ruff-check-all: any of: \.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$

  validate-imports: any of: ^[^/]*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$
)
  check-todos: any of: ^[^/]*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$
)
  validate-pyproject: any of: ^pyproject\.toml$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$


Fix: Update tests for `unified_client` target key, refine tracer initialization with OpenTelemetry attribute checks
  tests/test_unified_client_refactored.py
  tracing.py
Due: ruff-check-all, validate-imports, check-todos

Fix: Disable strict validation in MkDocs for CI, extend NoOp tracing/metering functionality, and update test placeholders for OpenTelemetry metrics/tracing
  .pre-commit-config.yaml.simple
  mkdocs.yml
  tests/test_protocol_retry_policies.py
  tracing.py
Due: mkdocs-validate, ruff-check-all, validate-imports, check-todos

Fix: Adjust MkDocs build configuration, refine WebSocket and token refresh tests, and update tracing/metering for latest OpenTelemetry changes
  .github/workflows/docs.yml
  tests/test_protocol_clients.py
  tests/test_security_manager.py
  tracing.py
Due: ruff-check-all, validate-imports, check-todos

Fix: Extend NoOp meter functionality in tests with additional metric types for improved OpenTelemetry compatibility
  tests/test_protocol_retry_policies.py
Due: ruff-check-all

Fix: Refine log message formatting, adjust logger initialization, and enhance token refresh task assertions in tests
  retry.py
  tests/test_protocol_retry_policies.py
  tests/test_security_manager.py
Due: ruff-check-all, validate-imports, check-todos

Fix: Adjust token expiration buffer computation for more flexible caching duration
  security_manager.py
Due: ruff-check-all, validate-imports, check-todos

Fix: Standardize string quotes in tests, add trailing commas to multi-line structures, and improve mock object patching consistency in `kei-agent-py-sdk` tests
  build_and_publish.py
  docs/hooks/macros.py
  tests/test_protocol_clients.py
  tests/test_protocol_retry_policies.py
  tests/test_protocol_selector.py
  tests/test_protocol_types.py
  tests/test_retry_edge_cases.py
  tests/test_security_manager.py
  tests/test_unified_client.py
  tests/test_unified_client_refactored.py
Due: mkdocs-validate, ruff-check-all, validate-imports, check-todos

Fix: Standardize log message formatting, improve test annotations, add protocol markers, and adjust build processes in `kei-agent-py-sdk`
  Makefile
  build_and_publish.py
  pyproject.toml
  run_tests.py
  tests/test_protocol_clients.py
  tests/test_protocol_retry_policies.py
  tests/test_protocol_selector.py
  tests/test_protocol_types.py
Due: ruff-check-all, validate-imports, check-todos, validate-pyproject

Fix: Mark all tests in `test_unified_client_refactored.py` as refactored with pytest marker
  tests/test_unified_client_refactored.py
Due: ruff-check-all

Fix: Add `security` pytest marker to relevant test classes and files in `kei-agent-py-sdk`
  tests/test_protocol_types.py
  tests/test_security_manager.py
Due: ruff-check-all

Fix: Adjust coverage report generation in `run_tests.py` to ensure tests run with coverage before report creation
  run_tests.py
Due: ruff-check-all, validate-imports, check-todos

Add extensive documentation for `Enterprise Logging` and `Protocol Selector` APIs including architecture details, implementation examples, query endpoints, and compliance guidelines
  docs/api/enterprise-logging.md
  docs/api/health-checks.md
  docs/api/protocol-clients.md
  docs/api/protocol-selector.md
  docs/architecture/design-patterns.md
  docs/architecture/modules.md
  docs/architecture/overview.md
  docs/architecture/protocols.md
  docs/assets/Logo_GainAI_Keiko_DCFF4A.png
  docs/assets/Logo_Keiko_DCFF4A.svg
  docs/enterprise/input-validation.md
  docs/enterprise/monitoring.md
  docs/enterprise/security.md
  docs/examples/enterprise-setup.md
  docs/examples/multi-protocol.md
  docs/examples/performance-tuning.md
  docs/migration/breaking-changes.md
  docs/migration/from-legacy.md
  docs/migration/index.md
  docs/migration/upgrade-guide.md
  docs/troubleshooting/common-issues.md
  docs/troubleshooting/debugging.md
  docs/troubleshooting/performance.md
  docs/troubleshooting/security.md
  kei-agent-py-sdk/docs/api/exceptions.md
  mkdocs.yml
  pyproject.toml
Due: mkdocs-validate, validate-pyproject

Fix coverage reporting and add PyPI workflow improvements
  .github/workflows/docs-alternative.yml
  Makefile
  run_tests.py
Due: ruff-check-all, validate-imports, check-todos

Bump version to `v0.1.0-beta.1` in pyproject.toml for beta release preparation
  pyproject.toml
Due: validate-pyproject

Fix version handling for PyPI - remove v prefix requirement
  .github/workflows/release.yml
  pyproject.toml
Due: validate-pyproject

🔧 Fix all build and release issues
  Makefile
  kei-agent-py-sdk/mypy.ini
Due: none

🗑️ Remove Exceptions API Documentation and MyPy Configuration
  kei-agent-py-sdk/docs/api/exceptions.md
  kei-agent-py-sdk/mypy.ini
Due: none

🔧 Update `pyproject.toml` metadata and dependencies
  pyproject.toml
Due: validate-pyproject

Add structured error logging across UnifiedClient
  pyproject.toml
  unified_client.py
  unified_client_refactored.py
Due: ruff-check-all, validate-imports, check-todos, validate-pyproject

🔧 Update `pyproject.toml` license field to structured format
  pyproject.toml
Due: validate-pyproject

🔧 Update dependency alias in `pyproject.toml`
  pyproject.toml
Due: validate-pyproject

Enhance dependency installation in CI workflows with detailed logging and critical dependency checks
  .github/workflows/ci.yml
  pyproject.toml
Due: validate-pyproject

ci: fix EOF in requirements.txt per pre-commit hook
  .github/workflows/ci.yml
  requirements.txt
Due: none

ci: enable set -x and make grep non-fatal to improve diagnostics during installs
  .github/workflows/ci.yml
Due: none

ci: rely on pyproject extras; remove redundant requirements.txt; install via -e .[dev] and .[dev,security]
  .github/workflows/ci.yml
  requirements.txt
Due: none

ci: switch to direct dependency installation in workflows for improved reliability
  .github/workflows/ci.yml
Due: none

ci: specify bash shell for dependency installs in workflows
  .github/workflows/ci.yml
Due: none

ci: standardize messages in ci.yml and set default UTF-8 encoding
  .github/workflows/ci.yml
Due: none

ci: make bandit non-fatal, scan recursively, always write JSON report; reduce console noise
  Makefile
Due: none

ci: standardize messages in ci.yml and set default UTF-8 encoding
  retry.py
  utils.py
Due: ruff-check-all, validate-imports, check-todos

ci: add PYTHONIOENCODING and switch to direct dependency installation
  .github/workflows/release.yml
Due: none

refactor: update versioning and licensing for consistency
  __init__.py
  enterprise_logging.py
  pyproject.toml
Due: ruff-check-all, validate-imports, check-todos, validate-pyproject

fix: simplify license format in pyproject.toml for consistency
  pyproject.toml
Due: validate-pyproject

meta: define license via [project.license] and add MIT classifier (fix KeyError on missing license metadata)
  pyproject.toml
Due: validate-pyproject

style: format setup.py per pre-commit hooks
  bandit-report.json
  setup.py
Due: ruff-check-all, validate-imports, check-todos

fix: simplify license format in pyproject.toml for consistency
  .github/workflows/ci.yml
  .github/workflows/release.yml
  enterprise_logging.py
  pyproject.toml
Due: ruff-check-all, validate-imports, check-todos, validate-pyproject

refactor: remove setup.py and disable coverage due to importlib_metadata KeyError
  run_tests.py
  setup.py
Due: ruff-check-all, validate-imports, check-todos

disable coverage tools due to importlib_metadata KeyError
  build_and_publish.py
  pyproject.toml
  pytest.ini
Due: ruff-check-all, validate-imports, check-todos, validate-pyproject

fix: correct license field syntax in pyproject.toml
  pyproject.toml
Due: validate-pyproject

build: bump setuptools version to >=68.0 in pyproject.toml
  pyproject.toml
Due: validate-pyproject
