Repository oscharko-dev/kei-agent-py-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkdocs-validate, ruff-check-all, validate-imports, check-todos, validate-pyproject

Path conditions:
  mkdocs-validate: any of: ^(mkdocs\.yml|docs/.*)$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$

  ruff-check-all: any of: \.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$

  validate-imports: any of: ^[^/]*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$
)
  check-todos: any of: ^[^/]*\.py$ and \.py$ and not (^tests/.*\.py$) and not ((?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$
)
  validate-pyproject: any of: ^pyproject\.toml$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$


refactor: enhance robustness of pyproject parsing and publication process
  build_and_publish.py
  pyproject.toml
Due: ruff-check-all, validate-imports, check-todos, validate-pyproject

refactor: improve workflow with enhanced version validation and package name alignment
  .github/workflows/release.yml
Due: none

chore(ci): fix release workflow (normalize versions, allow prerelease PyPI, correct pkg name/URLs); build: use tomllib fallback; pyproject: remove deprecated license classifier
  .github/workflows/release.yml
Due: none

fix(ci): correct YAML heredoc indentation for inline Python block in release workflow
  .github/workflows/release.yml
Due: none

fix(ci): remove tabs and align indentation in inline Python heredoc; YAML now valid
  .github/workflows/release.yml
Due: none

fix(ci): indent inline Python in Validate Version step to satisfy YAML parser
  .github/workflows/release.yml
Due: none

ci: avoid BrokenPipe in wheel listing and make twine check non-blocking; unify artifact name usage
  .github/workflows/release.yml
Due: none

chore(ci): standardize YAML strings and improve formatting consistency in workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

release: prepare 0.1.0b1 (version sync, deps, docs, CI/CD)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CONTRIBUTING.md
  MANIFEST.in
  README.md
  __init__.py
  build_and_publish.py
  pyproject.toml
  validate_setup.py
Due: ruff-check-all, validate-imports, check-todos, validate-pyproject

ci: fix duplicate top-level keys in CI/Release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: remove unused alternative documentation workflow
  .github/workflows/docs-alternative.yml
Due: none

ci: remove duplicate top-level sections; dedupe triggers
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: remove duplicated job definitions and duplicate steps blocks to fix YAML validation errors
  .github/workflows/ci.yml
Due: none

ci: remove unused release workflow and standardize YAML formatting in docs workflow
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

ci(release): create GitHub Release after successful TestPyPI or PyPI publish; use normalized version and correct package name in notes
  .github/workflows/release.yml
Due: none

ci: split release workflows into dedicated TestPyPI and PyPI pipelines (fix EOF)
  .github/workflows/release-pypi.yml
  .github/workflows/release-test-pypi.yml
Due: none

ci: remove redundant release workflow and update naming in TestPyPI & PyPI workflows
  .github/workflows/release-pypi.yml
  .github/workflows/release-test-pypi.yml
  .github/workflows/release.yml
Due: none

ci(release): skip quality and tests in packaging step to avoid missing dev tools in minimal runners
  .github/workflows/release-pypi.yml
  .github/workflows/release-test-pypi.yml
Due: none

docs(README): update badges, install instructions and links to TestPyPI package kei-agent-py-sdk; add TestPyPI install examples
  README.md
Due: none

docs: fix strict build warnings; add API pages for input validation and exceptions; add example stubs
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/api/enterprise-logging.md
  docs/api/exceptions.md
  docs/api/health-checks.md
  docs/api/input-validation.md
  docs/api/protocol-clients.md
  docs/api/protocol-selector.md
  docs/api/protocol-types.md
  docs/api/security-manager.md
  docs/api/unified-client.md
  docs/deployment/index.md
  docs/development/index.md
  docs/development/tasks.md
  docs/enterprise/index.md
  docs/examples/basic-usage.md
  docs/examples/custom-integrations.md
  docs/getting-started/installation.md
  docs/index.md
  docs/troubleshooting/faq.md
  docs/troubleshooting/index.md
  mkdocs.yml
Due: mkdocs-validate

docs: remove redirects plugin to fix GitHub Pages redirect loop
  mkdocs.yml
Due: mkdocs-validate

chore(release): bump version to 0.1.0b1.post1
  pyproject.toml
Due: validate-pyproject

docs: remove outdated example files for basic usage, custom integrations, enterprise setup, and multi-protocol examples
  README.md
  docs/api/index.md
  docs/api/unified-client.md
  docs/enterprise/index.md
  docs/enterprise/security.md
  docs/examples/basic-usage.md
  docs/examples/custom-integrations.md
  docs/examples/enterprise-setup.md
  docs/examples/index.md
  docs/examples/multi-protocol.md
  docs/examples/performance-tuning.md
  docs/getting-started/configuration.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/troubleshooting/debugging.md
  docs/troubleshooting/index.md
  docs/user-guide/client-usage.md
  docs/user-guide/concepts.md
  mkdocs.yml
  pyproject.toml
Due: mkdocs-validate, validate-pyproject

docs: remove outdated example files for basic usage, custom integrations, enterprise setup, and multi-protocol examples
  __init__.py
  enterprise_logging.py
  pyproject.toml
Due: ruff-check-all, validate-imports, check-todos, validate-pyproject

chore(release): bump version to 0.1.0b2 and update aiohttp dependency to >=3.9.0
  pyproject.toml
Due: validate-pyproject

Fix end-of-file
  build-report.json
Due: none

chore(release): bump version to 0.1.0b3, update import paths, simplify packaging configuration, and update .gitignore
  .gitignore
  __init__.py
  bandit-report.json
  build-report.json
  pyproject.toml
Due: ruff-check-all, validate-imports, check-todos, validate-pyproject

ci(release): update TestPyPI workflow to add Python 3.11 setup, propagation wait, and enhanced install verification
  .github/workflows/release-test-pypi.yml
Due: none

ci(release): add repository checkout and refine Python setup in TestPyPI workflow
  .github/workflows/release-test-pypi.yml
Due: none

chore(release): bump version to 0.1.0b4
  pyproject.toml
Due: validate-pyproject

chore(release): bump version to 0.1.0b5, update relative import paths, enhance PyPI workflow with propagation wait and install verification
  .github/workflows/release-pypi.yml
  a2a.py
  capabilities.py
  cli.py
  client.py
  discovery.py
  health_checks.py
  input_validation.py
  protocol_clients.py
  protocol_selector.py
  pyproject.toml
  retry.py
  security_manager.py
  tracing.py
  unified_client.py
  unified_client_refactored.py
Due: ruff-check-all, validate-imports, check-todos, validate-pyproject

chore(tests): update import paths to use `kei_agent` module across all test files
  pytest.ini
  tests/test_protocol_clients.py
  tests/test_protocol_selector.py
  tests/test_protocol_types.py
  tests/test_retry_edge_cases.py
  tests/test_security_manager.py
  tests/test_unified_client.py
  tests/test_unified_client_refactored.py
Due: ruff-check-all

chore: remove `kei_agent.py`, update imports to reference `agent_skeleton`, and clean up unused `pytest.ini` timeout option
  __init__.py
  kei_agent.py
  pytest.ini
  tests/test_protocol_retry_policies.py
  tests/test_protocol_types.py
  tests/test_retry_edge_cases.py
  tests/test_unified_client_refactored.py
Due: ruff-check-all, validate-imports, check-todos

chore: add `ValidationError` subclass for input validation exceptions
  exceptions.py
Due: ruff-check-all, validate-imports, check-todos

🔧 Fix YAML syntax error in ci.yml line 271
  .github/workflows/ci.yml
Due: none

🔧 Fix deployment blockers: MkDocs imports & deprecated GitHub Actions
  .github/workflows/chaos-testing.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/dependency-management.yml
  .github/workflows/pypi-release.yml
  .github/workflows/security.yml
  .github/workflows/type-checking.yml
  docs/api/enterprise-logging.md
  kei_agent/enterprise_logging.py
Due: mkdocs-validate, ruff-check-all

🔧 Fix multiline Python import test in ci.yml workflow
  .github/workflows/ci.yml
Due: none

ci: add scripts/check_type_coverage.py and apply pre-commit fixes to scripts/
  scripts/check_type_coverage.py
  scripts/generate_sbom.py
  scripts/security_scan.py
Due: ruff-check-all

🗑️ Remove deprecated `release-pypi.yml` workflow and fix typos across modules
  .github/workflows/release-pypi.yml
  kei_agent/__init__.py
  kei_agent/protocol_types.py
  kei_agent/run_tests.py
  tests/test_import_system.py
Due: ruff-check-all
