Repository oscharko-dev/kei-agent-py-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-all, mkdocs-validate, validate-pyproject

ruff-check-all:
  name: üîç Ruff Check (ALLE Dateien)
  description: Executes Ruff-Check auf ALLEN Python-Dateien out (inkl. Tests)
  entry: bash -c 'ruff check . || echo "‚ö†Ô∏è Ruff fand Probleme in Tests - siehe oben"'
  language: system
  pass_filenames: false

mkdocs-validate:
  name: üìö MkDocs Configuration validieren
  description: Validiert MkDocs-Configuration and baut die Doku strikt
  entry: mkdocs build --strict --verbose --clean
  language: python
  additional_dependencies:
  - mkdocs>=1.5.0,<2.0.0
  - mkdocs-material>=9.4.0,<10.0.0
  - mkdocstrings[python]>=0.23.0,<1.0.0
  ...

validate-pyproject:
  name: ‚öôÔ∏è Validiere pyproject.toml
  description: Pr√ºft pyproject.toml auf Konsistenz
  entry: python3 -c "import tomllib; f=open('pyproject.toml','rb'); config=tomllib.load(f); f.close(); print('‚úÖ pyproject.toml is g√ºltig')"
  language: system
  pass_filenames: false

🔧 Remove unused exception variables, fix typos in test files, and update exception names in documentation
  docs/api/exceptions.md
  docs/api/health-checks.md
  docs/api/input-validation.md
  docs/api/protocol-clients.md
  docs/api/protocol-selector.md
  docs/api/protocol-types.md
  docs/api/security-manager.md
  docs/api/unified-client.md
  docs/enterprise/index.md
  kei_agent/security_manager.py
  tests/chaos/chaos_framework.py
  tests/chaos/chaos_integration.py
  tests/chaos/chaos_metrics.py
  tests/chaos/test_chaos_comprehensive.py
  tests/chaos/test_configuration_chaos.py
  tests/chaos/test_network_chaos.py
  tests/chaos/test_resource_exhaustion_chaos.py
  tests/chaos/test_security_chaos.py
  tests/chaos/test_service_dependency_chaos.py
  tests/performance/__init__.py
  tests/test_import_system.py
  tests/test_protocol_retry_policies.py
  tests/test_retry_edge_cases.py
  tests/test_unified_client_integration.py
Due: ruff-check-all, mkdocs-validate

🔧 Refactor exception handling and update workflows
  .github/workflows/type-checking.yml
  kei_agent/validate_setup.py
  tests/chaos/chaos_framework.py
  tests/chaos/chaos_integration.py
  tests/chaos/chaos_metrics.py
  tests/chaos/test_chaos_comprehensive.py
  tests/performance/__init__.py
  tests/test_protocol_clients_extended.py
Due: ruff-check-all

🔧 Add `mypy.ini` configuration, enhance type coverage script, and update dependencies
  .github/workflows/chaos-testing.yml
  .github/workflows/pypi-release.yml
  mypy.ini
  pyproject.toml
  scripts/check_type_coverage.py
Due: ruff-check-all, validate-pyproject

🔧 Remove unused imports, fix typos, and optimize exception handling
  .github/workflows/ci-optimized.yml
  kei_agent/__init__.py
  kei_agent/a2a.py
  kei_agent/alerting.py
  kei_agent/build_and_publish.py
  kei_agent/caching/cache_framework.py
  kei_agent/caching/cache_manager.py
  kei_agent/caching/memory_cache.py
  kei_agent/caching/multi_level_cache.py
  kei_agent/caching/persistent_cache.py
  kei_agent/caching/redis_cache.py
  kei_agent/caching/specialized_caches.py
  kei_agent/capabilities.py
  kei_agent/cli.py
  kei_agent/config_api.py
  kei_agent/config_manager.py
  kei_agent/error_aggregation.py
  kei_agent/health_checks.py
  kei_agent/input_sanitizer.py
  kei_agent/input_validation.py
  kei_agent/metrics.py
  kei_agent/metrics_server.py
  kei_agent/protocol_selector.py
  kei_agent/protocol_types.py
  kei_agent/retry.py
  kei_agent/run_tests.py
  kei_agent/secrets_manager.py
  kei_agent/security_manager.py
  kei_agent/tracing.py
  kei_agent/unified_client.py
  kei_agent/validate_setup.py
  kei_agent/validation_models.py
Due: ruff-check-all

🔧 Fix typos, standardize naming, and correct function logic in multiple modules
  kei_agent/build_and_publish.py
  kei_agent/input_validation.py
  kei_agent/run_tests.py
  tests/integration/test_chaos_engineering.py
  tests/test_enterprise_logging_unit.py
  tests/test_protocol_retry_policies.py
  tests/test_retry_edge_cases.py
Due: ruff-check-all

🔧 Add build and publish script, update workflows and fix typos
  .github/workflows/pypi-release.yml
  Makefile
  build_and_publish.py
  pyproject.toml
  tests/test_protocol_retry_policies.py
Due: ruff-check-all, validate-pyproject

🔧 Update security settings for `hashlib` and restrict metrics server binding
  kei_agent/caching/cache_framework.py
  kei_agent/caching/persistent_cache.py
  kei_agent/caching/redis_cache.py
  kei_agent/caching/specialized_caches.py
  kei_agent/config_manager.py
  kei_agent/metrics_server.py
Due: ruff-check-all

🔧 Update `type-checking.yml` to use MyPy `>=1.0.0` and improve stub generation fallback logic
  .github/workflows/type-checking.yml
Due: none

🔧 Simplify fallback logic in `type-checking.yml` stub generation step
  .github/workflows/type-checking.yml
Due: none

🔧 Improve type annotations, optimize secret validation, and downgrade GitHub actions versions
  .github/workflows/ci.yml
  .github/workflows/release-test-pypi.yml
  kei_agent/secrets_manager.py
Due: ruff-check-all

🔧 Add `from __future__ import annotations` in `metrics.py` to enable forward references
  kei_agent/metrics.py
Due: ruff-check-all

🔧 Revamp Getting Started documentation for clarity and conciseness
  docs/getting-started/configuration.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  kei_agent/build_and_publish.py
  kei_agent/metrics.py
  kei_agent/retry.py
Due: ruff-check-all, mkdocs-validate

🔧 Refactor German documentation and improve type annotations in `kei_agent`
  docs/enterprise/health-checks.md
  docs/enterprise/index.md
  docs/enterprise/logging.md
  docs/enterprise/security.md
  docs/getting-started/configuration.md
  docs/user-guide/client-usage.md
  docs/user-guide/concepts.md
  docs/user-guide/protocols.md
  kei_agent/build_and_publish.py
  kei_agent/metrics.py
  kei_agent/retry.py
  kei_agent/utils.py
  mkdocs.yml
  mypy.ini
Due: ruff-check-all, mkdocs-validate

🔧 Refactor lazy loading, improve type annotations, and optimize initialization logic
  kei_agent/__init__.py
  kei_agent/agent_skeleton.py
  kei_agent/kei_agent.py
  kei_agent/metrics.py
  kei_agent/validation_models.py
Due: ruff-check-all

🔧 Add explicit type annotation for `data` variable in `metrics.py`
  kei_agent/metrics.py
Due: ruff-check-all

🔧 Refactor TOML parser logic in `build_and_publish.py` for clarity and reuse
  kei_agent/build_and_publish.py
Due: ruff-check-all

🔧 Improve error handling and logging in `check_type_coverage.py`
  scripts/check_type_coverage.py
Due: ruff-check-all

🔧 Add fallback logic for MyPy report generation when `lxml` is unavailable
  scripts/check_type_coverage.py
Due: ruff-check-all

🔧 Simplify Python command for extracting type coverage in `type-checking.yml`
  .github/workflows/type-checking.yml
Due: none

🔧 Fix typos, improve type annotations, and refine lazy loading logic
  kei_agent/__init__.py
  kei_agent/build_and_publish.py
  kei_agent/metrics.py
  tests/test_core_functionality.py
  tests/test_critical_workflows.py
Due: ruff-check-all

🔧 Replace `assert` with explicit `ValueError`, improve subprocess handling and logging
  kei_agent/caching/persistent_cache.py
  kei_agent/secrets_manager.py
  kei_agent/validate_setup.py
Due: ruff-check-all

🔧 Remove unused code, improve compatibility, and refine scripts
  Makefile
  scripts/check_type_coverage.py
  scripts/generate_sbom.py
  scripts/security_scan.py
Due: ruff-check-all

fix: Resolve all workflow issues for successful CI/CD deployment
  .github/workflows/docs.yml
  kei_agent/caching/__init__.py
  mkdocs.yml
  type-coverage.json
Due: ruff-check-all, mkdocs-validate

fix: Resolve pytest coverage configuration conflict in CI
  kei_agent/run_tests.py
Due: ruff-check-all

perf: Optimize import time from 546ms to 19ms (96% improvement)
  kei_agent/__init__.py
Due: ruff-check-all

fix: Resolve critical import errors for CI deployment
  kei_agent/config_manager.py
  kei_agent/input_sanitizer.py
  pyproject.toml
Due: ruff-check-all, validate-pyproject

chore: Remove unused `file-watching` dependency from dev dependencies in pyproject.toml
  pyproject.toml
Due: validate-pyproject

chore: Add `jsonschema` as a dependency for JSON Schema validation
  .github/workflows/ci.yml
  .github/workflows/pypi-release.yml
  pyproject.toml
Due: validate-pyproject

chore: Adjust test coverage threshold from 85% to 15%
  README.md
  docs/architecture/index.md
  pyproject.toml
  pytest.ini
  reviewe.md
  tests/test_coverage_functionality.py
Due: ruff-check-all, mkdocs-validate, validate-pyproject

chore: Replace hardcoded test secrets with CI-safe placeholders and improve workflows
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-management.yml
  .github/workflows/pypi-release.yml
  .github/workflows/security.yml
  Makefile
  kei_agent/validation_models.py
  scripts/security_scan.py
  tests/conftest.py
  tests/integration/__init__.py
  tests/test_config.py
  tests/test_secrets_management.py
  tests/test_security_manager.py
Due: ruff-check-all

chore: Fix assertion typo in tests and correct `AsyncClient` imports
  .github/workflows/ci.yml
  kei_agent/capabilities.py
  kei_agent/client.py
  kei_agent/health_checks.py
  kei_agent/metrics.py
  kei_agent/protocol_clients.py
  kei_agent/protocol_types.py
  tests/test_protocol_clients.py
  tests/test_protocol_clients_extended.py
  tests/test_protocol_retry_policies.py
  tests/test_security_manager.py
  tests/test_security_manager_extended.py
  tests/test_unified_client.py
  tests/test_unified_client_extended.py
  tests/test_unified_client_integration.py
  tests/test_unified_client_refactored.py
Due: ruff-check-all

chore: Add `pytest-cov` to workflows and expand security exception handling
  .github/workflows/ci-optimized.yml
  .github/workflows/pypi-release.yml
  tests/test_security_manager.py
Due: ruff-check-all

chore: Enhance Bandit scan configuration in security workflow
  .github/workflows/security.yml
Due: none

chore: Support both sync and async JSON responses, fix typos, and refine tests
  kei_agent/security_manager.py
  kei_agent/validation_models.py
  tests/integration/test_security_scenarios.py
Due: ruff-check-all

chore: Use `List` from `typing` for type annotations in `run_command`
  scripts/security_scan.py
Due: ruff-check-all

chore: Initialize `tests` package to support absolute imports during test execution
  kei_agent/protocol_clients.py
  tests/__init__.py
Due: ruff-check-all

chore: Refactor `AsyncClient` logic for better test mockability and sync/async JSON support
  kei_agent/protocol_clients.py
  kei_agent/unified_client.py
  tests/test_protocol_clients.py
  tests/test_security_manager.py
Due: ruff-check-all

chore: Replace Safety scan with pip-audit in CI and improve security scan handling
  .github/workflows/ci-optimized.yml
  SECURITY_SCAN_FIXES.md
  scripts/security_scan.py
Due: ruff-check-all

Fix security scan issues: disable Safety CLI, ignore ecdsa vulnerability, improve error handling
  SECURITY_SCAN_FIXES.md
  kei_agent/a2a.py
  kei_agent/metrics.py
  kei_agent/protocol_clients.py
  kei_agent/unified_client.py
  reviewe.md
Due: ruff-check-all

Path conditions:
  ruff-check-all: any of: \.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$

  mkdocs-validate: any of: ^(mkdocs\.yml|docs/.*)$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$

  validate-pyproject: any of: ^pyproject\.toml$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$

