Repository oscharko-dev/kei-agent-py-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-all, mkdocs-validate, validate-pyproject

ruff-check-all:
  name: üîç Ruff Check (ALLE Dateien)
  description: Executes Ruff-Check auf ALLEN Python-Dateien out (inkl. Tests)
  entry: bash -c 'ruff check . || echo "‚ö†Ô∏è Ruff fand Probleme in Tests - siehe oben"'
  language: system
  pass_filenames: false

mkdocs-validate:
  name: üìö MkDocs Configuration validieren
  description: Validiert MkDocs-Configuration and baut die Doku strikt
  entry: mkdocs build --strict --verbose --clean
  language: python
  additional_dependencies:
  - mkdocs>=1.5.0,<2.0.0
  - mkdocs-material>=9.4.0,<10.0.0
  - mkdocstrings[python]>=0.23.0,<1.0.0
  ...

validate-pyproject:
  name: ‚öôÔ∏è Validiere pyproject.toml
  description: Pr√ºft pyproject.toml auf Konsistenz
  entry: python3 -c "import tomllib; f=open('pyproject.toml','rb'); config=tomllib.load(f); f.close(); print('‚úÖ pyproject.toml is g√ºltig')"
  language: system
  pass_filenames: false

Fix security scan for Python 3.8 CI environment
  scripts/security_scan.py
Due: ruff-check-all

Fix missing pytest-cov dependency in Comprehensive Tests job
  .github/workflows/ci.yml
Due: none

Fix CI test failures by skipping problematic test categories
  pytest.ini
Due: none

Fix CI by running only stable test suites
  pytest.ini
Due: none

Fix CI by updating custom test runner to use stable test suites
  kei_agent/run_tests.py
Due: ruff-check-all

Fix CI by running only smoke tests to avoid pytest-asyncio recursion
  kei_agent/run_tests.py
Due: ruff-check-all

Fix failing protocol tests
  tests/test_protocol_retry_policies.py
  tests/test_protocol_types.py
  type-coverage.json
Due: ruff-check-all

Fix typos in refactored test assertions
  tests/test_unified_client_refactored.py
Due: ruff-check-all

Fix final typos in security manager tests
  tests/test_security_manager.py
Due: ruff-check-all

Fix major test failures - Part 1
  kei_agent/client.py
  kei_agent/protocol_types.py
  kei_agent/security_manager.py
  tests/test_unified_client.py
  tests/test_unified_client_extended.py
Due: ruff-check-all

Fix major test failures - Part 2
  tests/test_protocol_clients_extended.py
  tests/test_protocol_retry_policies.py
  tests/test_retry_edge_cases.py
Due: ruff-check-all

Rename PyPI release workflow file for consistency with naming conventions
  .github/workflows/release-pypi.yml
Due: none

Rename PyPI release workflow file for consistency with naming conventions
  build_and_publish.py
  kei_agent/build_and_publish.py
  kei_agent/run_tests.py
  pyproject.toml
  scripts/check_type_coverage.py
  scripts/generate_sbom.py
  scripts/security_scan.py
Due: ruff-check-all, validate-pyproject

Add new utility scripts for security, type coverage, and SBOM generation
  scripts/check_type_coverage.py
  scripts/generate_sbom.py
  scripts/security_scan.py
Due: ruff-check-all

Fix README badges: remove redundant codecov badge
  README.md
Due: none

Re-add Codecov badge after configuration
  README.md
Due: none

Fix Codecov integration: Add codecov.yml and repair Makefile
  .github/workflows/ci.yml
  Makefile
  codecov.yml
Due: none

Vereinfache PyPI Release Workflow - nur PyPI Deploy + GitHub Release
  .github/workflows/release-pypi.yml
Due: none

Fix Bandit security check in release workflow - allow warnings
  .github/workflows/release-pypi.yml
Due: none

Fix typos in kei_agent modules and set default protocol for A2A communication
  kei_agent/capabilities.py
  kei_agent/unified_client.py
Due: ruff-check-all

Bump version to 0.1.0b6 in pyproject.toml and fix lxml comment spacing
  pyproject.toml
Due: validate-pyproject

Add Agent Heartbeat Server and replace legacy registration method
  kei_agent/client.py
  kei_agent/heartbeat_server.py
  kei_agent/unified_client.py
Due: ruff-check-all

Path conditions:
  ruff-check-all: any of: \.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$

  mkdocs-validate: any of: ^(mkdocs\.yml|docs/.*)$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$

  validate-pyproject: any of: ^pyproject\.toml$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*|
  site/.*|
  htmlcov/.*|
  \.coverage.*|
  build/.*|
  dist/.*|
  \.venv/.*|
  venv/.*
)$

